body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#carousel{
  grid-row: 1/20 !important;
  grid-column: 1/101 !important;
}

.home > #info{
  grid-row: 40/60;
  background-color:grey;
  grid-column: 1/101;
}
.slider img{
  box-shadow: #000; 
  height: 50vh;
}

.home > #bottombar{
  grid-row: 60/70;
  grid-column: 1/101;
  background-color: #00A160;
}
input {
  border: 1px solid #000;
}
img {
  height: 10vh;
  width: 12vw;
}
.Footer{
  background-color: gray;
  padding: 3%;
  height: 100%;
  box-shadow: 0 50vh 0 50vh;
}
.home {
  text-align:center;
  color:#00A160;
  display: grid;
grid-template-columns: repeat(100,1vw);
/*grid-template-rows: repeat(100,2vh);*/
grid-auto-rows: auto;
}
.home #homebar{
  grid-column: 1/101;
  grid-row:26/40;
  background-color: #00A160 ;
  filter: darken(100%); 
}
.home #middle{
  grid-column:34/67;
  grid-row:26/40;
  opacity:0.7;
  background-color:black;
}

.home #right{
  background-color: #00A160 ;
}
#car1{
  height: 20vh;
  width: 30vw;
}
#current{
  color: aqua;
}
.PublicPageHeading{
  background-color: #00A160;
  padding-top: 3%;
  padding-bottom: 2.5%;
  color: white;
  grid-row: 1/10;
  grid-column:1/101;
}

.PublicPageHeading > .Heading{
  font-family: cursive;
  font-size: 500%;

}
.PublicPageHeading > .Text{
  font-size: 150%;
}
#topnav{
  background-color: #000 !important;
}
.PublicPageMainText {
  text-align: left;
  grid-row: 10/20;
  grid-column: 1/101;
  padding-left: 250px;
  padding-right: 250px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 75px
}
.PublicPageMainText > .MainText{
  color: black;
}
#topnavtext > li > a{
  color: #00A160 !important;
  padding-top: 3vh;
  padding-left: 3vw;
  font-weight: 800;
}
#eventWrapper{
  grid-column: 1/2 !important;
  padding: 20px !important;
}
#botnav{
  background-color: darkgray !important;
  position: sticky !important;
  top: 0px;
}
#botnavtext > li > a{
  color: white;
}